IQ/Service References/WCFSvc/iQuote.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IQ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWCFsvc_.clsStockItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFsvc_.clsStockItem" nillable="true" type="tns:WCFsvc_.clsStockItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFsvc_.clsStockItem" nillable="true" type="tns:ArrayOfWCFsvc_.clsStockItem" />
  <xs:complexType name="WCFsvc_.clsStockItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SKUvariant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipments" nillable="true" type="tns:ArrayOfWCFsvc_.clsstock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFsvc_.clsStockItem" nillable="true" type="tns:WCFsvc_.clsStockItem" />
  <xs:complexType name="ArrayOfWCFsvc_.clsstock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFsvc_.clsstock" nillable="true" type="tns:WCFsvc_.clsstock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFsvc_.clsstock" nillable="true" type="tns:ArrayOfWCFsvc_.clsstock" />
  <xs:complexType name="WCFsvc_.clsstock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFsvc_.clsstock" nillable="true" type="tns:WCFsvc_.clsstock" />
  <xs:complexType name="ArrayOfWCFsvc_.clsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFsvc_.clsResult" nillable="true" type="tns:WCFsvc_.clsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFsvc_.clsResult" nillable="true" type="tns:ArrayOfWCFsvc_.clsResult" />
  <xs:complexType name="WCFsvc_.clsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFsvc_.clsResult" nillable="true" type="tns:WCFsvc_.clsResult" />
  <xs:complexType name="ArrayOfWCFsvc_.clsPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFsvc_.clsPrice" nillable="true" type="tns:WCFsvc_.clsPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFsvc_.clsPrice" nillable="true" type="tns:ArrayOfWCFsvc_.clsPrice" />
  <xs:complexType name="WCFsvc_.clsPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SKUvariant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFsvc_.clsPrice" nillable="true" type="tns:WCFsvc_.clsPrice" />
</xs:schema>