IQ/CS/Service References/IngramPB/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/treeview" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/treeview" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iquote2.channelcentral.net:8092/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="clsLog.Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="children" nillable="true" type="q1:QueueOfint" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parent" type="xs:int" />
      <xs:element minOccurs="0" name="severity" type="xs:int" />
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsLog.Node" nillable="true" type="tns:clsLog.Node" />
  <xs:complexType name="ArrayOfclsLog.Node">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsLog.Node" nillable="true" type="tns:clsLog.Node" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsLog.Node" nillable="true" type="tns:ArrayOfclsLog.Node" />
</xs:schema>