IQ/Service References/GK/OneTimeToken3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IQ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17561/Services/OneTimeToken.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfclsNameValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsNameValuePair" nillable="true" type="tns:clsNameValuePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsNameValuePair" nillable="true" type="tns:ArrayOfclsNameValuePair" />
  <xs:complexType name="clsNameValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsNameValuePair" nillable="true" type="tns:clsNameValuePair" />
  <xs:complexType name="clsToken">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsToken" nillable="true" type="tns:clsToken" />
  <xs:complexType name="ArrayOfclsName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsName" nillable="true" type="tns:clsName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsName" nillable="true" type="tns:ArrayOfclsName" />
  <xs:complexType name="clsName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Example" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="MinLength" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegEx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Required" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsName" nillable="true" type="tns:clsName" />
</xs:schema>