IQ/Service References/GK/OneTimeToken.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="channelcentral.net/oneTimeToken" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="channelcentral.net/oneTimeToken" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="channelcentral.net/oneTimeToken/Imports">
      <xsd:import schemaLocation="http://localhost:17561/Services/OneTimeToken.svc?xsd=xsd0" namespace="channelcentral.net/oneTimeToken" />
      <xsd:import schemaLocation="http://localhost:17561/Services/OneTimeToken.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17561/Services/OneTimeToken.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IQ" />
      <xsd:import schemaLocation="http://localhost:17561/Services/OneTimeToken.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOneTimeToken_GetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="IOneTimeToken_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IOneTimeToken_Help_InputMessage">
    <wsdl:part name="parameters" element="tns:Help" />
  </wsdl:message>
  <wsdl:message name="IOneTimeToken_Help_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelpResponse" />
  </wsdl:message>
  <wsdl:portType name="IOneTimeToken">
    <wsdl:operation name="GetToken">
      <wsdl:input wsaw:Action="channelcentral.net/oneTimeToken/IOneTimeToken/GetToken" message="tns:IOneTimeToken_GetToken_InputMessage" />
      <wsdl:output wsaw:Action="channelcentral.net/oneTimeToken/IOneTimeToken/GetTokenResponse" message="tns:IOneTimeToken_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Help">
      <wsdl:input wsaw:Action="channelcentral.net/oneTimeToken/IOneTimeToken/Help" message="tns:IOneTimeToken_Help_InputMessage" />
      <wsdl:output wsaw:Action="channelcentral.net/oneTimeToken/IOneTimeToken/HelpResponse" message="tns:IOneTimeToken_Help_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>