IQ/Service References/IngramPB/clsLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="clsLog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_I_Logging_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://iquote2.channelcentral.net:8092/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://iquote2.channelcentral.net:8092/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://iquote2.channelcentral.net:8092/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/treeview" />
      <xsd:import schemaLocation="http://iquote2.channelcentral.net:8092/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://iquote2.channelcentral.net:8092/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="I_Logging_GetLogNode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogNode" />
  </wsdl:message>
  <wsdl:message name="I_Logging_GetLogNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogNodeResponse" />
  </wsdl:message>
  <wsdl:message name="I_Logging_GetNodeChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeChildren" />
  </wsdl:message>
  <wsdl:message name="I_Logging_GetNodeChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="I_Logging_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="I_Logging_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="I_Logging_Ancestors_InputMessage">
    <wsdl:part name="parameters" element="tns:Ancestors" />
  </wsdl:message>
  <wsdl:message name="I_Logging_Ancestors_OutputMessage">
    <wsdl:part name="parameters" element="tns:AncestorsResponse" />
  </wsdl:message>
  <wsdl:message name="I_Logging_Prune_InputMessage">
    <wsdl:part name="parameters" element="tns:Prune" />
  </wsdl:message>
  <wsdl:message name="I_Logging_Prune_OutputMessage">
    <wsdl:part name="parameters" element="tns:PruneResponse" />
  </wsdl:message>
  <wsdl:message name="I_Logging_IngramPriceBand_InputMessage">
    <wsdl:part name="parameters" element="tns:IngramPriceBand" />
  </wsdl:message>
  <wsdl:message name="I_Logging_IngramPriceBand_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngramPriceBandResponse" />
  </wsdl:message>
  <wsdl:portType name="I_Logging">
    <wsdl:operation name="GetLogNode">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Logging/GetLogNode" message="tns:I_Logging_GetLogNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Logging/GetLogNodeResponse" message="tns:I_Logging_GetLogNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNodeChildren">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Logging/GetNodeChildren" message="tns:I_Logging_GetNodeChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Logging/GetNodeChildrenResponse" message="tns:I_Logging_GetNodeChildren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Logging/find" message="tns:I_Logging_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Logging/findResponse" message="tns:I_Logging_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ancestors">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Logging/Ancestors" message="tns:I_Logging_Ancestors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Logging/AncestorsResponse" message="tns:I_Logging_Ancestors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Prune">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Logging/Prune" message="tns:I_Logging_Prune_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Logging/PruneResponse" message="tns:I_Logging_Prune_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngramPriceBand">
      <wsdl:input wsaw:Action="http://tempuri.org/I_Logging/IngramPriceBand" message="tns:I_Logging_IngramPriceBand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_Logging/IngramPriceBandResponse" message="tns:I_Logging_IngramPriceBand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_I_Logging" type="tns:I_Logging">
    <wsp:PolicyReference URI="#WSHttpBinding_I_Logging_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLogNode">
      <soap12:operation soapAction="http://tempuri.org/I_Logging/GetLogNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodeChildren">
      <soap12:operation soapAction="http://tempuri.org/I_Logging/GetNodeChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap12:operation soapAction="http://tempuri.org/I_Logging/find" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ancestors">
      <soap12:operation soapAction="http://tempuri.org/I_Logging/Ancestors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prune">
      <soap12:operation soapAction="http://tempuri.org/I_Logging/Prune" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngramPriceBand">
      <soap12:operation soapAction="http://tempuri.org/I_Logging/IngramPriceBand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clsLog">
    <wsdl:port name="WSHttpBinding_I_Logging" binding="tns:WSHttpBinding_I_Logging">
      <soap12:address location="http://iquote2.channelcentral.net:8092/endpoint" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://iquote2.channelcentral.net:8092/endpoint</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>