IQ/CS/Service References/PQWS/PQWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServicesPrj.CPCServiceLayer.ValueObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServicesPrj.CPCServiceLayer.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CPCHierarchyCarePackResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllHPCarePacks" nillable="true" type="tns:ArrayOfCPCCarePack">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CountryDetails" nillable="true" type="tns:CPCCountry">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RecommendedHPCarePacks" nillable="true" type="tns:ArrayOfCPCCarePack">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SupportRecommendations" nillable="true" type="tns:ArrayOfSupportRecommendation">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPCHierarchyCarePackResults" nillable="true" type="tns:CPCHierarchyCarePackResults" />
  <xs:complexType name="ArrayOfCPCCarePack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPCCarePack" nillable="true" type="tns:CPCCarePack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPCCarePack" nillable="true" type="tns:ArrayOfCPCCarePack" />
  <xs:complexType name="CPCCarePack">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarePackProductNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OrderOfPreference" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PriceLocalList" type="xs:double">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServiceDescription" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServiceLevel" type="xs:short" />
      <xs:element minOccurs="0" name="ServiceLevelGroupcode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPCCarePack" nillable="true" type="tns:CPCCarePack" />
  <xs:complexType name="SupportRecommendationCarePack">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CPCCarePack">
        <xs:sequence>
          <xs:element name="DisplayOrder" type="xs:int" />
          <xs:element name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupportRecommendationCarePack" nillable="true" type="tns:SupportRecommendationCarePack" />
  <xs:complexType name="CPCCountry">
    <xs:sequence>
      <xs:element name="LocalPriceCurrencyCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPCCountry" nillable="true" type="tns:CPCCountry" />
  <xs:complexType name="ArrayOfSupportRecommendation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportRecommendation" nillable="true" type="tns:SupportRecommendation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportRecommendation" nillable="true" type="tns:ArrayOfSupportRecommendation" />
  <xs:complexType name="SupportRecommendation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DescriptionLocal" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DescriptionWW" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DurationYearQty" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RecommendLevelCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RecommendTypeCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SupportRecommendationPackages" nillable="true" type="tns:ArrayOfSupportRecommendationCarePack">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TotalValue" type="xs:double">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportRecommendation" nillable="true" type="tns:SupportRecommendation" />
  <xs:complexType name="ArrayOfSupportRecommendationCarePack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportRecommendationCarePack" nillable="true" type="tns:SupportRecommendationCarePack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportRecommendationCarePack" nillable="true" type="tns:ArrayOfSupportRecommendationCarePack" />
</xs:schema>