IQ/CS/Service References/WCFSvc/iQuote1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49197/iQuote.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IQ" />
  <xs:element name="SetStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IQ" minOccurs="0" name="items" nillable="true" type="q1:ArrayOfWCFsvc_.clsStockItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IQ" minOccurs="0" name="SetStockResult" nillable="true" type="q2:ArrayOfWCFsvc_.clsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IQ" minOccurs="0" name="prices" nillable="true" type="q3:ArrayOfWCFsvc_.clsPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IQ" minOccurs="0" name="SetPricesResult" nillable="true" type="q4:ArrayOfWCFsvc_.clsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>