IQ/CS/Service References/WCFSvc/WCFsvc_.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFsvc_" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49197/iQuote.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49197/iQuote.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49197/iQuote.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IQ" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iQuote__SetStock_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStock" />
  </wsdl:message>
  <wsdl:message name="iQuote__SetStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStockResponse" />
  </wsdl:message>
  <wsdl:message name="iQuote__SetPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPrices" />
  </wsdl:message>
  <wsdl:message name="iQuote__SetPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPricesResponse" />
  </wsdl:message>
  <wsdl:portType name="iQuote_">
    <wsdl:operation name="SetStock">
      <wsdl:input wsaw:Action="http://tempuri.org/iQuote_/SetStock" message="tns:iQuote__SetStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iQuote_/SetStockResponse" message="tns:iQuote__SetStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/iQuote_/SetPrices" message="tns:iQuote__SetPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iQuote_/SetPricesResponse" message="tns:iQuote__SetPrices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iQuote_" type="tns:iQuote_">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetStock">
      <soap:operation soapAction="http://tempuri.org/iQuote_/SetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrices">
      <soap:operation soapAction="http://tempuri.org/iQuote_/SetPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFsvc_">
    <wsdl:port name="BasicHttpBinding_iQuote_" binding="tns:BasicHttpBinding_iQuote_">
      <soap:address location="http://localhost:49197/iQuote.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>